<title>Dashboard</title>

{% block styles %}
<meta http-equiv="refresh" content="30">
<link rel="stylesheet" href="{{ url_for('static', filename='scripts/bootstrap.css') }}">

<link href="{{ url_for('static', filename='scripts/font-style.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='scripts/flexslider.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='scripts/main.css') }}" rel="stylesheet">


<!-- You can add more layouts if you want -->
<script type="text/javascript" src="js/noty/themes/default.js"></script>
<!-- <script type="text/javascript" src="assets/js/dash-noty.js"></script> This is a Noty bubble when you init the theme-->
<script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
<script src="js/jquery.flexslider.js" type="text/javascript"></script>

<script type="text/javascript" src="js/admin.js"></script> {% endblock %} {% block body %}


<!--
	• Verkehr zur Kita
	• Kalender
	• Verspätung Sbahn
	• Telefon Anrufe
	• Benzinpreis
	• Wetter
	* Message of the day
News
-->
<div class="container">

	<!-- SECOND ROW OF BLOCKS -->
	<div class="row">
		<!-- LATEST NEWS BLOCK -->
		<div class="col-sm-6 col-lg-6">
			<div class="dash-unit">
				<dtitle>Kalender</dtitle>
				<div class="text">
					{% for message in dashdata['calendar'] %}
					<p>{{message}}</p>
					{% endfor %}
				</div>
			</div>
		</div>



		<!-- LAST MONTH REVENUE -->
		<div class="col-sm-3 col-lg-3">
			<div class="dash-unit">
				<dtitle>Umwelt</dtitle>
				<hr>
				<div class="cont">
					<p>
						<bold>{{dashdata['fuel']}}</bold> | E10 Benzin
					</p>
					<br>
					<p>
						<bold>{{dashdata['temperature']}}</bold> | Temperatur
					</p>
					<br>
					<p>
						<bold>{{dashdata['traffic']}}</bold> | Verkehr
					</p>

				</div>

			</div>
		</div>

		<!-- 30 DAYS STATS - CAROUSEL FLEXSLIDER -->
		<div class="col-sm-3 col-lg-3">
			<div class="dash-unit">
				<dtitle>Vorhersage</dtitle>
				<div class="text">
					<p>
						<small>
							{% for info in dashdata['forecast'] %} {{info[0]}}
							<b>{{info[1]}}</b> C
							<img width="30" height="30" src="{{info[2]}}">
							<br> {% endfor %}
						</small>
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- /row -->






	<!-- THIRD ROW OF BLOCKS -->
	<div class="row">

		<!-- LATEST NEWS BLOCK -->
		<div class="col-sm-6 col-lg-6">
			<div class="dash-unit">
				<dtitle>Verpasste Telefonanrufe</dtitle>
				<div class="text">
					{% for message in dashdata['tel'] %}
					<p>{{message}}</p>
					{% endfor %}
				</div>
			</div>
		</div>




		<!-- LATEST NEWS BLOCK -->
		<div class="col-sm-6 col-lg-6">
			<div class="dash-unit">
				<dtitle>Latest News, last updated {{dashdata['lastupdated']}}</dtitle>
				<div class="text">
					{% for message in dashdata['news'] %}
					<p>{{message}}</p>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<!-- /row -->
	<div class="row">

		<!-- LATEST NEWS BLOCK -->
		<div class="col-sm-12 col-lg-12">
			<div class="dash-unit">
				<dtitle>Message of the day</dtitle>
				<div class="text">
					{% for message in dashdata['motd'] %}
					<p>{{message}}</p>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>


</div>
<!-- /container -->


{% endblock %}